<template>
 	<div class="container-fluid">
 		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Header-->
		  <div class="card-header">
		    <h4>What's your Credit Score?</h4>
		    <p class="card-text mb-4">
		    	It's OK if you don't know, just estimate.
		    </p>
		  </div>
		  <!--Body-->
		  <div class="card-body">
		    <!--Form-->
		    <form>		   
			  <!--Find Score Button-->	      
		      <div class="row">
		      	<button type="button" class="btn btn-primary col-sm-11">
		      		<a href="https://vuejs.org/v2/guide/transitions.html#Transitioning-Between-Components">
		      			Find your Free Score!
		      		</a>
		      	</button>
		      </div>
		      <!--Excellent Score Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Excellent')" class="btn btn-success col-sm-11">
		      		Excellent (720-850)
		      	</button>
		      </div>
		      <!--Good Score Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Good')" class="btn btn-success col-sm-11 btn-success-1">
		      		Good (680-719)
		      	</button>
		      </div>
		      <!--Fair Score Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Fair')" class="btn btn-warning col-sm-11">
		      		Fair (640-679)
		      	</button>
		      </div>
		      <!--Poor Score Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Poor')" class="btn btn-danger col-sm-11">
		      		Poor (0-629)
		      	</button>
		      </div>
		      <!--Back Button-->
		      <div class="row justify-content-center">
		      	<button type="button" class="btn btn-secondary btn-md col-sm-1" @click="backToTheFuture">
		      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
		      	</button>
		      </div>	      
		    </form>
		  </div>
		</div> 
  	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'form_8',
	data() {
		return {
			selected: 'Error',
			url: 'https://vuejs.org/v2/guide/transitions.html#Transitioning-Between-Components',
			progress: 7*(100/11),	// Progress Bar
			progressEnd: 100/11,	// Percentage to increment progress bar by    
			fields: {
				creditScore: ''
			}
		}
	},

	computed: {
		// Progress bar/width style binding function
        progressWidth: function(){
        	return `width: ${this.progress}%`;
        }
	},

	methods: {
		// Click event that passes the data property for the object value (key: value)
		addObject: function(value) {
			// Assigns the value to the object property/key
			this.fields = Object.assign({creditScore: value}, this.fields.creditScore);
			// Destructuring => adding/merging/updating selected
			// object properties to collection object
			this.$parent.fields = {...this.$parent.fields, ...this.fields};
			// Increments the progress if fields are valid 
			this.progress =  this.progress + this.progressEnd;  
			// Progress to next step in form process
			router.push('/form_9');
			return;
		},

		// Route to previous step
		backToTheFuture: function() {
			router.push('/form_7');
		}
	}
};
</script>

<style scoped>
	/**Card/Header/Body**/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	  margin-bottom: -32px !important;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -20px;
	}
	/**Buttons**/

	a {
		color: #fff;
		text-decoration: none;
	}
	.btn {
		color: #fff;
	}

	.btn-primary {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #006CEB;
	  font-weight: 600;
	}

	.btn-success {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #01B466;
	  font-weight: 600;
	}

	.btn-success-1 {
		background-color: #1FD348;
	}

	.btn-warning {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #FF8B00;
	  font-weight: 600;
	}

	.btn-danger {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #FF3131;
	  font-weight: 600;
	}

</style>