<template>
	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
			<div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
			<!--Card Head-->
			<div class="card-header">
				<h4>How much do you want to borrow?</h4>
			</div>
			<!--Card Body-->
			<div class="card-body">
				<!--Form-->
				<form v-on:submit.prevent="onSubmit">
					<!--Range Input/Marker-->
					<div class="form-group">
						<div class="col-md-12 custom-input" 
							:class="{'form-control': true, 'input-error': errors.has('currency')}"
						>
							<div class="row no-gutters currency">
								<div class="col-6 currencyinput">
									$
								</div>
								<div class="col-6">
									<input 
										v-model.number="fields.loan_amount" 
										class="rangeControlOutput form-control" 
										for="customRange1" 
										type="text" 
										name="currency"
										v-validate="{required: true, min_value: 200, max_value: 50000}"
									>
								</div>
							</div>
						</div>		
						<!--Error Message (if any)-->		        
						<span class="input-error-message" v-show="errors.has('currency')">
							{{errors.first('currency')}}
						</span>		 
						<!--End Error Message/-->

						<!--Range Marker-->
						<div class="row">
							<input 
								type="range" 
								class="range col-sm-11" 
								id="customRange1"
								name="loan_amount"
								step="100" min="200" max="50000"  
								v-model.number="fields.loan_amount"
								:style="rangeValue" 
							>	
						</div>
						<div class="range-marker col-sm-11">	
							<div class="row justify-content-between">
								<p class="col-xs-2">$200</p>
								<p class="col-xs-2">$50,000</p>
							</div>
						</div>
					</div>
					<!--Continue Buttons-->
					<div class="row">
						<button type="submit" :disabled="errors.any()" class="btn btn-success col-sm-11" >
							Continue
						</button>
					</div>
					<!--Back Button-->
					<div class="row justify-content-center">
						<button type="button" @click="backToTheFuture" class="btn btn-secondary btn-md col-sm-1">
							<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
						</button>
					</div>
				</form>		    
			</div>
		</div> 
	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'form_2',
	data() {
		return {
	        progress: 1*(100/11),   //Progress Bar  
	        progressEnd: 100/11,    //Percentage to increment progress bar by  
	        fields: {
	        	loan_amount: 25000
	        }
	    }
	},

	computed: {
    	// Progress bar/width style binding function
    	progressWidth: function(){
    		return `width: ${this.progress}%`;
    	},
		// Algebraic formula/function to get percentage from min and max && Range dynamic color fill.
		rangeValue: function() {
			const min = 200,
				  max = 50000;
			let width = (this.fields.loan_amount - min)*100/(max - min);

			return `background: linear-gradient(to right, #1FD348 0%, ${width}%, #e0e2e2 ${width}%, #e0e2e2 100%)`;
		},
	},

	methods: {
		// Form Submit function
		onSubmit: function() {
			// Assigning object instance property to variable
			let fields = this.$parent.fields.loan_type;

			this.$validator.validateAll().then((result) => {
				if (result) {
					console.log('Form is valid', this.fields);;  
	  				// Destructuring => adding/merging/updating selected 
	  				// object properties to data collection object
	  				this.$parent.fields = {...this.$parent.fields, ...this.fields};
	  				// Increments the progress if fields are valid 
	  				this.progress =  this.progress + this.progressEnd
	  				// Progress to next step in form process
	  				router.push('/form_3');
	  				return;
	  			}
  					console.log('Form is invalid');
  			}).catch((error) => {
  					console.log(error);
  				});
  		},
	  	// Route to previous path
	  	backToTheFuture: function() {
	  		router.push('/');
	  	}
	}
};	
</script>

<style scoped>
/*Card/Head/Body*/
.card {
	-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
	box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
	border-radius: 32px;
	padding: 8px;
}
.card-header {
	background-color: #fff !important;
	border:none;
	text-align: center;
	margin: auto;
	margin-top: 1px;
	margin-bottom: -9px !important;  
}

.card-body {
	text-align: center;
	margin-bottom: -20px;
}
/*Range Input/Marker*/

/**Currency Input**/
.custom-input {
	border: 1px solid #b3b3b3 !important;
	-webkit-box-shadow: 1px 6px 14px 2px rgba(0,0,0,0.27);
	box-shadow: 1px 6px 14px 2px rgba(0,0,0,0.27);
	border-radius: 18px;
	margin-bottom: 0px !important;
	margin: auto;
	height: 60px;
	padding: 0px;
}

.rangeControlOutput {	  
	padding: 0px;
	height: 50px;
	margin-top: 5px;
	font-size: 40px;
	font-weight: 700;
	text-align: left;
	border-color: transparent;
	width: 150px;
}

input:focus {
	outline: none;
	box-shadow: none !important;
	border-color: transparent !important;
}

.currencyinput {
	font-size: 40px;
	font-weight: 700;
	margin: auto;
	margin-bottom: 32px;
	text-align: right;    
}

.currency {
	margin-right: 90px;
}

/**Range Marker/Webkit/Moz/Ms**/

input#customRange1 {
	border-radius: 8px;
	height: 7px;
	outline: none; 
	-webkit-appearance: none;
	padding: 0;
	margin: auto;
	margin-top: 40px;
	font-weight: 800;
}

.range-marker {
	margin-top: 10px !important;
	margin-bottom: 16px !important;
	padding: 0;
	margin: auto;
	color: gray;
	font-weight: bold;
	font-size: 12px;
}

/**Chrome/Safari**/
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: -1.5px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1FD348), color-stop(50%,#1FD348), color-stop(51%,#1FD348), color-stop(100%,#1FD348));
}

/**FireFox**/
input[type="range"]::-moz-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	z-index: 1;
	width: 11px;
	height: 11px;
}

input[type=range]::-moz-range-track {
    width: 11px;
    height: 11px;
    background: none;
    border: none;
    border-radius: 40px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    top: -3px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background: #1FD348;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
    cursor: pointer;
}

/**IE/Edge**/

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 16px;
  width: 10px;
  border-radius: 5px;
  background: #1FD348;
  cursor: pointer !important;
  height: 20px;
  z-index: 1;

}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer!important;
  height: 16px;
  width: 16px;
}

/**Media Query**/
@media only screen and (max-width: 340px) {
	.rangeControlOutput {
		font-size: 35px;
		padding: 0px;
		width: 110px !important;
	}

	.currencyinput {
		font-size: 35px;
		margin-top: 4px;
	}

}			


/*Buttons*/
.btn-success {
	-webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	border-radius: 32px;
	display: center;
	margin-bottom: 8px !important;
	margin: auto;
	background-color: #1FD348;
	border: none;
	font-weight: 700;
	font-size: 14px;
}
</style>