<template>
	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Card Head-->
		  <div class="card-header">
		    <h4>What's your Zip code?</h4>
		  </div>
		  <!--Card Body-->
		  <div class="card-body">
		    <!--Form-->
		    <form v-on:submit.prevent="onSubmit">
		      <!--Zip Input-->
		      <div class="form-group">
		        <label for="inputZip"></label>
		        <div class="row">
		        	<input 
		        		type="text" 
		        		class="zip form-control col-sm-11" 
		        		id="inputZip"
		        		name='zip_code' 
		        		placeholder="Zip code"
		        		:class="{'form-control': true, 'input-error': errors.has('zip_code')}"
		        		v-validate="{ required: true, integer: true, min: 5, max: 5, }"
		        		v-model.number="fields.zip_code"
		        	>
		        </div>
		        <!--Error Message(if any)-->
	        	<span class="input-error-message" v-show="errors.has('zip_code')">
	        		{{errors.first('zip_code')}}
	        	</span>	             		       
		      </div>
		      <!--Continue Button-->
		      <div class="row">
		      	<button type="submit" :disabled="errors.any()" class="btn btn-success col-sm-11">
		      		Continue
		      	</button>
		      </div>
		      <!--Back Button-->
		      <div class="row justify-content-center">
		      	<button @click="backToTheFuture" type="button" class="btn btn-secondary btn-md col-sm-1">
		      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
		      	</button>
		      </div>
		    </form>
		  </div>
		</div>  	
  	</div>
</template>

<script>
import router from '../router'
export default {
  name: 'form_3',
  data() {
      return {
        progress: 2*(100/11),   // Progress Bar    
        progressEnd: 100/11,	// Percantage to increment progress bar by
        fields: {
			zip_code:  ''   	        	
		}
      }
    },

    computed: {
        progressWidth: function(){
          // Progress bar/width style binding function
          return `width: ${this.progress}%`;
        }
    },

    methods: {
    	// Form submit function
        onSubmit: function() {
    		this.$validator.validateAll().then((result) => {
    			if (result) {
    				console.log('Form is valid', this.fields);
    				// Destructuring => adding/merging/updating selected
    				// object properties to data collection object
    				this.$parent.fields = {...this.$parent.fields, ...this.fields};
    				// Increments the progress if fields are valid 
    				this.progress =  this.progress + this.progressEnd;
    				// Progress to next step in form process 
    				router.push('/form_4');
    				return;
    			}
    				console.log('Form is invalid');
    		}).catch((error) => {
    			console.log(error);
    		  });	
    	},
    	// Route to previous path
    	backToTheFuture: function() {
    		router.push('/form_2_5');
    	}	
    }
};	
</script>

<style scoped>
	/*Card/Head/Body*/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	  margin-top: 16px;
	  margin-bottom: -48px !important;
	  font-size: 12px !important;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -20px;
	}
	/*ZipCode Input*/
	.zip {
	  margin-bottom: 10px !important;
	  margin: auto;
	  padding: 8px 48px 8px 16px;
	  border-radius: 25px;
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  font-weight: 600;
	}

	/*Button*/
	.btn-success {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-top: 20px !important;
	  margin-bottom: 16px !important;
	  margin: auto;
	  font-weight: 700;
	  font-size: 14px;
	  background-color: #1FD348;
	}
</style>