<template>
  	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Header-->
		  <div class="card-header">
		    <h4>Type of Residence</h4>
		  </div>
		  <!--Body-->
		  <div class="card-body">
		    <!--Form-->
		    <form>		   
		      <!--Home Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('own')" class="btn btn-primary col-sm-11">
		      		I own my home
		      	</button>
		      </div>
		      <!--Rent Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('rent')" class="btn btn-success col-sm-11">
		      		I am renting
		      	</button>
		      </div>
		      <!--Other Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('other')" class="btn btn-warning col-sm-11">
		      		Other
		      	</button>
		      </div>
		      <!--Back Button-->
		      <div class="row justify-content-center">
		      	<button type="button" @click="backToTheFuture" class="btn btn-secondary btn-md col-sm-1" >
		      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
		      	</button>
		      </div>
		    </form>
		  </div>
		</div> 
  	</div>
	
</template>

<script>
import router from '../router'
export default {
	name: 'form_4',
	data() {
		return {
			progress: 3*(100/11),	// Progress Bar
			progressEnd: 100/11,	// Percantage to increment progress bar by
			fields: {
				residenceType: ''	
			}
		}
	},

	computed: {
		// Progress bar/width style binding function
        progressWidth: function(){
        	return `width: ${this.progress}%`;
        }
	},

	methods: {
		// Click event that passes the data property for the object value (key: value)
		addObject: function(value) {
			// Assigns the value to the object property/key
			this.fields = Object.assign({residenceType: value}, this.fields.residenceType);
			// Destructuring => adding/merging/updating selected
			// object properties to collection object
			this.$parent.fields = {...this.$parent.fields, ...this.fields};
			// Increments the progress if fields are valid 
			this.progress =  this.progress + this.progressEnd;
			// Progress to next step in form process
			router.push('/form_5');
			return;

		},

		// Route to the previous step
		backToTheFuture: function() {
			router.push('/form_3');
		}
	}
};
  		 	
</script>

<style scoped>
	/**Card/Header/Body**/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	  margin-top: 9px;
	  margin-bottom: -13px;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -10px;
	}
	/**Buttons**/
	.btn-primary {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #006CEB;
	  font-weight: 600;
	}

	.btn-success {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #1FD348;
	  font-weight: 600;
	}

	.btn-warning {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
      box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #FF8B00;
	  color: #fff;
	  font-weight: 600;
	}

	.btn-warning:hover {
		color: #fff;
	}
</style>