<template>
	<div class="container-fluid">
		{{this.$parent.fields}}	
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Header-->
		  <div class="card-header">
		    <h4>What's your employment Status?</h4>
		  </div>
		  <!--Body-->
		  <div class="card-body">
		    <!--Form-->
		    <form>
		      <!--Full Time Button-->		   
		      <div class="row">
		      	<button type="button" @click="addObject('Full Time')" class="btn btn-warning col-sm-11">
		      		Full Time
		      	</button>
		      </div>
		      <!--Part Time Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Part Time')" class="btn btn-warning col-sm-11">
		      		Part Time
		      	</button>
		      </div>
		      <!--Self-employed Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Self-Employed')" class="btn btn-warning col-sm-11">
		      		Self-Employed
		      	</button>
		      </div>
		      <!--Unemployed Buttom-->
		      <div class="row">
		      	<button type="button" @click="addObject('Unemployed')" class="btn btn-warning col-sm-11">
		      		Unemployed
		      	</button>
		      </div>
		      <!--Other Button-->
		      <div class="row">
		      	<button type="button" @click="addObject('Other')" class="btn btn-warning col-sm-11">
		      		Other
		      	</button>
		      </div>
		      <!--Back Button-->
		      <div class="row justify-content-center">
		      	<button type="button" class="btn btn-secondary btn-md col-sm-1" @click="backToTheFuture">
		      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
		      	</button>
		      </div>		      
		    </form>
		  </div>
		</div> 
  	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'form_6',
	data() {
		return {
			progress: 5*(100/11),	// Progress Bar
			progressEnd: 100/11,	// Percentage to increment progress bar by
			fields: {
				employmentStatus: ''
			}
		}
	},

	computed: {
		// Progress bar/width style binding function
        progressWidth: function(){
        	
        	return `width: ${this.progress}%`;
        }
	},

	methods: {
		// Click event that passes the data property for the object value (key: value)
		addObject: function(value) {
			// Assigns the value to the object property/key
			this.fields = Object.assign({employmentStatus: value}, this.fields.employmentStatus);
			// Destructuring => adding/merging/updating selected
			// object properties to colection object
			this.$parent.fields = {...this.$parent.fields, ... this.fields};
			// Increments the progress if fields are valid 
			this.progress =  this.progress + this.progressEnd;
			// Progress to next step in form process
			router.push('/form_7');
			return;
		},

		// Route to previous step
		backToTheFuture: function() {
			router.push('/form_5');
		}
	}
};
</script>

<style scoped>
	/**Card/Header/Body**/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -20px;
	}
	/**Buttons**/
	.btn-warning {
      -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #FF8B00;
	  font-weight: 600;
	  color: #fff;
	}
</style>