<template>
  <div class="container-fluid">
    {{this.$parent.fields}}
    <!--Progress Bar-->
    <div class="progress">
      <div class="progress-bar" :style="progressWidth"></div>
    </div>
    <!--Card-->
    <div class="card">
      <!--Card-Header-->
      <div class="card-header">
        <h4>Create an Account</h4>
      </div>
      <!--Card-Body-->
      <div class="card-body">
        <!--Form-->
        <form v-on:submit.prevent="onSubmit">         
          <!--First Name Field-->
          <div class="form-group">
            <label for="firstName"></label>
            <div class="alignFields row ">
              <input 
                type="text" 
                class="firstName form-control col-sm-11" 
                id="firstName" 
                name="firstName" 
                placeholder="First Name"
                v-model="fields.firstName"
                v-validate="'required|min:6'"
                data-vv-as="First Name"
                :class="{'form-control': true, 'input-error': errors.has('firstName')}"
              >
            </div>
            <!--Error Message(if any)-->
            <span v-show="errors.has('firstName')" class="input-error-message">
              <br>{{ errors.first('firstName') }}
            </span>
            <!--End Error Message-->                      
          </div>
          <!--Last Name Field-->
          <div class="form-group">
            <label for="lastName"></label>
            <div class="alignFields row">
              <input 
                type="text" 
                class="lastName form-control col-sm-11" 
                id="lastName" 
                name="lastName" 
                placeholder="Last Name"
                v-model="fields.lastName"
                v-validate="'required|min: 6'"
                data-vv-as="Last Name"
                :class="{'form-control': true, 'input-error': errors.has('lastName')}"
              >
            </div>
            <!--Error Message(if any)-->
            <span v-show="errors.has('lastName')" class="input-error-message">
              <br>{{errors.first('lastName')}}
            </span>  
            <!--End Error Message-->                           
          </div>
          <!--Address Field-->
          <div class="form-group">
            <label for="inputAddress"></label>
            <div class="alignFields row ">
              <input 
                type="text" 
                class="address form-control col-sm-11" 
                id="inputAddress" 
                name="address" 
                placeholder="Address"
                v-model="fields.address"
                v-validate="'required'"
                data-vv-as="Address"
                :class="{'form-control': true, 'input-error': errors.has('address')}"
              >
            </div>
            <!--Error Message(if any)-->
            <span v-show="errors.has('address')" class="input-error-message">
              <br>{{errors.first('address')}}
            </span>   
            <!--End Error Message-->                      
          </div>
          <!--State Field-->
          <div class="form-group">
            <label for="inputState"></label>
            <div class="alignFields row">
              <input 
                type="text" 
                class="state form-control col-sm-11" 
                id="inputState" 
                name="state" 
                placeholder="State of Residence"
                v-model="fields.residenceState"
                v-validate="'required'"
                data-vv-as="State of Residence"
                :class="{'form-control': true, 'input-error': errors.has('state')}"
              >
            </div>
            <!--Error Message(if any)-->
            <span v-show="errors.has('state')" class="input-error-message">
              <br>{{errors.first('state')}}
            </span>                 
            <!--End Error Message-->            
          </div>
          <!--Birth Date Field-->
          <div class="form-group">
            <label for="birthDate"></label>
            <div class="alignFields row ">
              <input 
                type="text" 
                class="birthDate form-control col-sm-11" 
                id="birthDate" 
                name="dateOfBirth" 
                placeholder="Date of Birth"
                v-model="fields.dateOfBirth"
                v-validate="'required|date_format:DD/MM/YYYY'"
                data-vv-as="Date of Birth"
                :class="{'form-control': true, 'input-error': errors.has('dateOfBirth')}" 
              >
            </div> 
            <!--Error Message(if any)-->
            <span v-show="errors.has('dateOfBirth')" class="input-error-message">
              <br>{{errors.first('dateOfBirth')}}
            </span>   
            <!--End Error Message-->                 
          </div>
          <!--Phone Number Field-->
          <div class="form-group">
            <label for="inputPhone"></label>
            <div class="alignFields row">
              <input 
                type="text" 
                name="phoneNumber" 
                class="phoneNumber form-control col-sm-11" 
                id="inputPhone" 
                placeholder="Phone Number"
                v-model="fields.phoneNumber"
                v-validate="{ required: true, regex: /^([0-9]+)$/, min: 10, max: 11, }"
                data-vv-as="Phone Number"
                :class="{'form-control': true, 'input-error': errors.has('phoneNumber')}" 
              >
            </div>
            <!--Error Message(if any)-->
            <span v-show="errors.has('phoneNumber')" class="input-error-message">
              <br>{{errors.first('phoneNumber')}}
            </span> 
            <!--End Error Message-->                      
          </div>
          <!--Checkbox Field-->
          <div class="form-group row justify-content-center">
          <div class="col-sm-11">
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" id="gridCheck1" 
                name="text_loan_offers"
                v-model="fields.text_loan_offers"
              >
              <label class="form-check-label" for="gridCheck1">
                Can we text you loan offers?
              </label>
            </div>
            {{fields.text_loan_offers}}
          </div>
        </div>
        <!--Continue Button-->
          <div class="row">
            <button type="submit" class="btn btn-success col-sm-11" :disabled="errors.any()">
              Continue
            </button>
          </div>
          <!--Back Button-->
          <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary btn-md col-sm-1" @click="backToTheFuture">
              <img class="card-img-left" src="../assets/angle-left-solid.svg">Back
            </button>
          </div>
        </form>
      </div>
    </div> 
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'form_10',
  data() {
    return {
      progress: 9*(100/11),   // Progress Bar
      progressEnd: 100/11,    // Percentage to increment progress bar by                
      fields: {
        firstName: '',
        lastName: '',
        address: '',
        residenceState: '',
        dateOfBirth: '',
        phoneNumber: '',
        text_loan_offers: false

      }
    }
  },

  computed: {
      progressWidth: function(){
        // Progress bar/width style binding function
        return `width: ${this.progress}%`;
      }
  },

  methods: {
    onSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          console.log('Form is valid', this.fields);
          // Destructuring => adding/merging/updating selected
          // object properties to data collection object
          this.$parent.fields = {...this.$parent.fields, ...this.fields};
          // Increments the progress if fields are valid 
          this.progress =  this.progress + this.progressEnd;
          // Progress to next step in form process
          router.push('/form_11');
          return;
        }
          console.log('Form is invalid');

      }).catch(error => {
          console.log(error);
        });
    },

    // Route to the previous step
    backToTheFuture: function() {
      router.push('/form_9');
    }
  }
};
</script>

<style scoped>
  /**Card/Header/Body**/
  .card {
    -webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
    box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
    border-radius: 32px;
    padding: 8px;
  }
  .card-header {
    background-color: #fff !important;
    border: none;
    text-align: center;
    margin: auto;
  }

  .card-body {
    text-align: center;
    margin-bottom: -16px;
  }
  /**Form Fields**/
  .alignFields {
    justify-content: center;
  }

  .form-control {
    margin-left: 16px !important;
    margin-right: 16px !important;
    margin-bottom: -24px !important;
    margin: auto;
    border-radius: 25px;
    -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
    box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
  }

  input {   
    font-weight: 500;
    font-size: 16px;
    color: gray;
  }

  .form-check {
    margin-top: 25px;
    text-align: left;
  }

  .form-check-label {
    margin: auto;
    padding: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    color: gray;
  }
  /**Buttons**/
  .btn-success {
    -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
    box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
    border: none;
    border-radius: 32px;
    display: center;
    margin-bottom: 16px !important;
    margin: auto;
    background-color: #1FD348;
    font-weight: 600;
  }
</style>
