<template>
	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Card Header-->
		  <div class="card-header">
		    <h4>Your best loan options</h4>
		    <p class="card-text">
		    	Choose from a variety of Secured loans that you qualify for today.</p>
		  </div>
		  <!--Card Body-->
		  <div class="card-body">
		    <!--Form-->
		   <form>
				<!--Secured Loans-->
			<div>
			    <div class="container-fluid">		    	
			      <img class="card-img-top" src="../assets/car-alt-solid.svg" alt="Card image cap">
			      <div class="row col-sm-11 title">
			      	<h6>Secured Loans</h6>
			      </div>
			      <div class="row">
			      	<button type="button" @click="addObject('Secured Loans')" class="btn btn-success col-sm-11">
			      		Continue
			      	</button>
			      </div>
			    </div>  				    		   
			    <!--Home Equity Loans-->
			    <div class="container-fluid" v-if="homeEquity">
			    	<img class="card-img-top" src="../assets/home-solid.svg" alt="Card image cap">
			    	<div class="row col-sm-11 title">
			    		<h6>Home Equity Loans</h6>
			    	</div>
			    	<div class="row">
			    		<button type="button" @click="addObject('Home Equity Loan')" class="btn btn-success col-sm-11">
			    			Continue
			    		</button>
			    	</div>
			    </div>
			    <!--Business Loans-->
			    <div class="container-fluid" v-if="employmentStatus">
			    	<img class="card-img-top" src="../assets/home-solid.svg" alt="Card image cap">
			    	<div class="row col-sm-11 title">
			    		<h6>Business Loans</h6>
			    	</div>
			    	<div class="row">
			    		<button type="button" @click="addObject('Business Loan')" class="btn btn-success col-sm-11">
			    			Continue
			    		</button>
			    	</div>
			    </div>
			    <!--Title Loans-->
			    <div class="container-fluid" v-if="carType && !isArizona">
			    	<img class="card-img-top" src="../assets/car-alt-solid.svg" alt="Card image cap">
			    	<div class="row col-sm-11 title">
			    		<h6>Title Loans</h6>
			    	</div>
			    	<div class="row">
			    		<button type="button" @click="addObject('Title Loan')" class="btn btn-success col-sm-11">
			    			Continue
			    		</button>
			    	</div>
			    </div>	   
			      <!--Registration Loans-->
			    <div class="container-fluid" v-if="isArizona">
		      		<img class="card-img-top" src="../assets/car-alt-solid.svg" alt="Card image cap">
			      	<div class="row col-sm-11 title">
			      	   <h6>Registration Loans</h6>
			      	</div>
			      	<div class="row">
			      	   <button type="button" @click="addObject('Registration Loan')" class="btn btn-success col-sm-11">
			      	   	Continue
			      	   </button>
			      	</div>
			    </div>
			</div>
				<!--Personal Loans Button-->
			    <div class="container-fluid">
			    	<img class="card-img-top" src="../assets/user-solid.svg" alt="Card image cap">
			    	<div class="row col-sm-11 title">
			    		  <h6>Personal Loans</h6>
			    	</div>
			    	<div class="row">
			    		  <button type="button" @click="addObject('Personal Loan')" class="btn btn-success col-sm-11">
			    		  	Continue
			    		  </button>
			    	</div>	
			    </div>	
			    <!--Payday Loans Button-->   		     
			    <div class="container-fluid">
					<img class="card-img-top" src="../assets/clock-regular.svg" alt="Card image cap">
					<div class="row col-sm-11 title">
						<h6>Payday Loans</h6>
					</div>
					<div class="row">
						<button type="button" @click="addObject('Payday Loan')" class="btn btn-success col-sm-11">
							Continue
						</button>
					</div>			    	
			    </div>
			    <!--Installment Loans Button-->   		     
				<div class="container-fluid">
					<img class="card-img-top" src="../assets/chart-bar-regular.svg" alt="Card image cap">
					<div class="row col-sm-11 title">
						<h6>Installment Loans</h6>
					</div>
					<div class="row">
						<button type="button" @click="addObject('Installment Loan')" class="btn btn-success col-sm-11">
							Continue
						</button>
					</div>
				</div>			       
			    <!--Back Button-->
			    <div class="row justify-content-center">
			      	<button type="button" class="btn btn-secondary btn-md col-sm-1" @click="backToTheFuture">
			      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
			      	</button>
			    </div>
		   </form>
		 </div>
		</div> 
  	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'form_9',
	data() {
		return {
			progress: 8*(100/11),	// Progress Bar
			progressEnd: 100/11,	// Percentage to increment progress bar by    
			fields: {
				options: ''
			},
		}
	},

	computed: {
		// Progress bar/width style binding function
        progressWidth: function() {
        	
        	return `width: ${this.progress}%`;
        },
        // Returns true or false depending on the expressions result
        isArizona: function() {
        	return this.$parent.fields.zip_code >= 85001 && this.$parent.fields.zip_code <= 86556;	
        },
        // Returns true or false depending on the expressions result
        carType: function() {
        	return this.$parent.fields.carType === 'Paid Off' || this.$parent.fields.carType === 'Making Payments';
        },
        // Returns true or false depending on the expressions result
        homeEquity: function() {
        	return this.$parent.fields.residenceType === 'own';
        },
        // Returns true or false depending on the expressions result
        employmentStatus: function() {
        	return this.$parent.fields.employmentStatus === 'Self-Employed'
        }
	},

	methods: {
		// Click event that passes the data property for the object value (key: value)
		addObject: function(value) {
			// Assigns the value to the object property/key
			this.fields = Object.assign({option: value}, this.fields.options);
			// Destructuring => adding/merging/updating selected
			// object properties to collection object
			this.$parent.fields = {...this.$parent.fields, ...this.fields};
			// Increments the progress if fields are valid 
			this.progress =  this.progress + this.progressEnd;
			// Progress to next step in form process
			router.push('/form_10');
			return;
		},

		// Route to the previous route
		backToTheFuture: function() {
			router.push('form_8');
		}
	}
};
</script>

<style scoped>
	/**Card/Header/Body/Image**/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	}

	h6 {
	  font-weight: 700;
	  font-size: 12px;
	  color: black;
	}

	.card-img-top {
	  height: 32px;
	  width: 32px;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -20px;
	}
	
	.title {
		justify-content: center;
		margin: auto;
	}
	/**Buttons**/
	.btn-success {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #1FD348;
	  font-weight: 600;
	  padding: 3px;
	}
</style>