<template>
	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
		  <div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
		  <!--Card Header-->
		  <div class="card-header">
		    <h4>What do you make per year?</h4>
		  </div>
		  <!--Card Body-->
		  <div class="card-body">
		    <!--Form-->
		    <form v-on:submit.prevent="onSubmit">
		      <!--Income Input Field-->
		      <div class="form-group">
		        <label for="income"></label>
		        <div class="alignFields row">
		        	<input 
		        		type="text" 
		        		class="incomeInput form-control col-sm-11" 
		        		id="income" 
		        		placeholder="Income"
		        		name="income"
		        		:class="{'form-control': true, 'input-error': errors.has('income')}"
		        		v-validate="{required: true, numeric: true, length: 5}"
		        		v-model.number="fields.income" 
		        	>
		        </div>	
		        <!--Error Message(if any)-->
		        <span v-show="errors.has('income')" class="input-error-message">
		        	{{errors.first('income')}}
		        </span>	
		        <!--End Error Message-->            		       
		      </div>
		      <!--Continue Button-->
		      <div class="row">
		      	<button type="submit" :disabled="errors.any()" class="btn btn-success col-sm-11">
		      		Continue
		      	</button>
		      </div>
		      <!--Back Button-->
		      <div class="row justify-content-center">
		      	<button type="button" @click="backToTheFuture" class="btn btn-secondary btn-md col-sm-1">
		      		<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
		      	</button>
		      </div>
		    </form>
		  </div>
		</div> 
	</div>
</template>
  
  	
<script>
import router from '../router'
export default {
  name: 'form_7',
  data() {
          return {
            progress: 6*(100/11),// Progress Bar
            progressEnd: 100/11,
            fields: {
             income: ''
            }
          }
        },

        computed: {
        	// Progress bar/width style binding function
            progressWidth: function(){
              return `width: ${this.progress}%`;
            }
        },

        methods: {
        	onSubmit: function() {
				this.$validator.validateAll().then(result => {
					if (result) {
						console.log('Form is valid', this.fields); 
						// Destructuring => adding/merging/updating selected
						// object properties to data collection object
						this.$parent.fields = {...this.$parent.fields, ...this.fields};
						// Increments the progress if fields are valid 
						this.progress =  this.progress + this.progressEnd;
						// Progress to next step in form process
						router.push('/form_8');
						return;
					}
						console.log('Form is invalid');
				}).catch(error => {
						console.log(error);
				    });
        	},

        	// Route to previous step
        	backToTheFuture: function () {
        		router.push('/form_6');
        	}        	
        }
    };	
</script>

<style scoped>
	/**Card/Header/Body**/
	.card {
		-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
		box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
		border-radius: 32px;
		padding: 8px;
	}
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	  margin-bottom: -30px !important;
	}

	.card-body {
	  text-align: center;
	  margin-bottom: -20px;
	}
	/**Income Input**/
	.incomeInput {
	  color: gray;
	  margin: auto;
	  padding: 8px 48px 8px 16px;
	  border-radius: 25px;
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
      box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  font-weight: 500;
	  font-size: 16px;
	}
	/**Buttons**/
	.btn-success {
	  -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border: none;
	  border-radius: 32px;
	  display: center;
	  margin-top: 30px !important;
	  margin-bottom: 16px !important;
	  margin: auto;
	  background-color: #1FD348;
	  font-weight: 600;
	}
</style>