<template>
	<div class="container-fluid">
		{{this.$parent.fields}}
		<!--Progress Bar-->
		<div class="progress">
			<div class="progress-bar" :style="progressWidth"></div>
		</div>
		<!--Card-->
		<div class="card">
			<!--Card Header-->
			<div class="card-header">
				<h4>Create an Account</h4>
			</div>
			<!--Card Body-->
			<div class="card-body">
				<!--Form-->
				<form v-on:submit.prevent="onSubmit">
					<!--Email Field-->
					<div class="form-group">
						<label for="inputEmail"></label>
						<div class=" alignFields row">
							<input 
								type="email" 
								class="email form-control col-sm-11" 
								id="inputEmail" 
								name="email" 
								placeholder="Email"
								v-model="fields.email"
								v-validate="{required: true, email: true}"
								:class="{'form-control': true, 'input-error': errors.has('email')}" 
							>
						</div>   
						<!--Error Message(if any)-->
						<span v-show="errors.has('email')" class="input-error-message">
							<br>{{errors.first('email')}}
						</span> 			    		     
					</div>
					<!--Password Field-->
					<div class="form-group">
						<label for="inputPassword"></label>
						<div class="alignFields row">
							<input 
								type="password" 
								class="password form-control col-sm-11" 
								id="inputPassword" 
								name="password" 
								placeholder="Password"
								v-model="fields.password"
								v-validate="'required|min: 6'"
								:class="{'form-control': true, 'input-error': errors.has('password')}" 
							>
						</div>
						<!--Error Messaage(if any)-->
						<span v-show="errors.has('password')" class="input-error-message">
							<br>{{errors.first('password')}}
						</span>	
						<!--End Error Message-->	        	  		       
					</div>
					<!--Create Account-->
					<div class="alignFields row">
						<button type="submit" class="btn btn-success col-sm-11">
							Create Account
						</button>
					</div>
					<!--Back Button-->
					<div class="row justify-content-center">
						<button type="button" class="btn btn-secondary btn-md col-sm-1" @click="backToTheFuture">
							<img class="card-img-left" src="../assets/angle-left-solid.svg">Back
						</button>
					</div>
				</form>
			</div>
		</div> 
	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'form_11',
	data() {
		return {
        progress: 10*(100/11), // Progress Bar
		progressEnd: 100/11,   // Percentage to increment progress bar by    
		fields: {
			email: '',
			password: ''
		}
    }
},

computed: {
	// Progress bar/width style binding function
	progressWidth: function(){
          return `width: ${this.progress}%`;
      }
  },

  methods: {
  	onSubmit: function() {
  		this.$validator.validateAll().then(result => {
  			if(result) {
  				console.log('Form is valid', this.fields);
				// Destructuring => adding/merging/updating selected
				// object properties to data collection object
				this.$parent.fields = {...this.$parent.fields, ...this.fields};
				// Increments the progress if fields are valid 
				this.progress =  this.progress + this.progressEnd;
				// Progress to the next step in form process
				router.push('/');
				return;

    		}
   				console.log('Form is invalid');
    		}).catch(error => {
    			console.log(error);
    		  });
    	},

    	// Route to the previous step
    	backToTheFuture: function() {
    		router.push('/form_10');
    	}
    }

};
</script>

<style scoped>
/**Card/Header/Body**/
.card {
	-webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
	box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
	border-radius: 32px;
	padding: 8px;
}
.card-header {
	background-color: #fff !important;
	border: none;
	text-align: center;
	margin: auto;
	margin-bottom: -30px !important;
}

.card-body {
	text-align: center;
	margin-bottom: -16px;
}
/**Form**/
.form-control {
	margin-left: 16px !important;
	margin-right: 16px !important;
	margin-bottom: -24px !important;
	margin: auto;
	border-radius: 25px;
	-webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
}

.alignFields { 
	justify-content: center;
}

input {
	font-weight: 500;
	font-size: 16px;
	color: gray;
}
/**Button**/
.btn-success {
	-webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	border: none;
	border-radius: 32px;
	display: center;
	margin: 32px 16px 16px 16px !important;
	background-color: #1FD348;
	font-weight: 600;
}

</style>