<template>
  <div class="container-fluid">
    {{this.$parent.fields}}
  	<!-- Progress Bar --> 
  	<div class="progress">
  	  <div class="progress-bar" :style="progressWidth"></div>
  	</div>
  	<!-- Card -->
  	<div class="card">
  		<!--Card Head-->
  	  <div class="card-header row">
  	    <h5 class="col-sm-12">
          See what MaxCash can offer you in 2 minutes
        </h5>
  	  </div>
  	  <!--Card Body-->
  	  <div class="card-body">
  	    <!--Form-->
  	    <form v-on:submit.prevent="onSubmit">	
  	    	<!--Input-->
  	       <div class="form-group">
  	        <label for="loan_options"></label>
            <!--Multi-Select Input *Styling done through 
              (.multiselect_tags)vue-multiselect.min.css-->
  	        <div class="row">
                <multiselect
                  id="loan_options"
                  name="loan_options" 
                  :class="{'input-error': errors.has('loan_options')}" 
                  v-model="fields.loan_type" 
                  :options="loan_options" 
                  :searchable="false" 
                  :close-on-select="true" 
                  :show-labels="false" 
                  placeholder="What's it for?"
                  v-validate="'required'"
                >
                </multiselect>


  		        <!--Error Message (if any)-->
  		        <span class="input-error-message col-sm-11" v-show="errors.has('loan_options')">
  		        	{{errors.first('loan_options')}}
  		        </span> 
  	        </div>
  	      </div>
  	      <!--Continue Button-->
  	      <div class="row">
  	      	<button type="submit" :disabled="errors.any()" class="btn btn-success col-sm-11">
              Continue
            </button>
  	      </div>
  	      <!--Back Button-->
  	      <div class="row justify-content-center">
  	      	<button disabled="true" type="button" class="btn btn-secondary btn-md col-sm-1">
              <img class="card-img-left" src="../assets/angle-left-solid.svg">Back
            </button>
  	      </div>
  	    </form>		    
  	  </div>
  	</div> 
  </div>	
</template>

<script>
import router from '../router'
export default {
  name: 'form_1',
  data() {
    return {
      progress: 0*(100/11), //Progress Bar     
      progressEnd: 100/11,  //Percentage to increment progress bar by
      fields: {
      	loan_type: ''
      },
      selected: "",
      loan_options: [
        'Refinance',
        'Home Improvement',
        'Car Financing',
		  	'Debt Consolidation',
			  'Wedding',
			  'Credit Card Consolidation',
			  'Major Purchase', 			  
			  'Home Buying',
			  'Business',
			  'Vacation',
			  'Moving',
			  'Medical Bills', 			  
			  'Other',
	  	],
    }
  },

    computed: {
        progressWidth: function(){
          //Progress bar/width style binding function
          return `width: ${this.progress}%`;
        }
    },

    methods: {
      //Submit function for Form
      onSubmit: function() {
    		this.$validator.validateAll().then(result => {

          //Destructuring into options variable
          const [...options] = this.loan_options;
          //Destructuring/making variables for better/easier manipulation/management
          let [refinance, homeImprovement, car, , , , , homeBuying, , , , , ] = options;

          //If...else statements for conditional rendering
          //If no result render Invalid Form
          if (!result) {
            console.log('Form is Invalid');
          }
            //Else-If refinance is selected route to specified path
            else if (result && this.fields.loan_type === refinance) {
              //Increments the progress bar if fields are valid
              this.progress = this.progress + this.progressEnd;
              //Destructuring => adding selected object properties to data collection object
              this.$parent.fields = {...this.$parent.fields, ...this.fields};
              //Specified path to route 
              router.push('/form_1_5');
              return;
            }   
            //Else-If home options are selected route to specified path      
            else if (result && this.fields.loan_type === homeImprovement || this.fields.loan_type === homeBuying) {
              //Increments the progress bar if fields are valid
              this.progress = this.progress + this.progressEnd;
              //Destructuring => adding selected object properties to data collection object
              this.$parent.fields = {...this.$parent.fields, ...this.fields};
              //Specified path to route 
              router.push('/form_2_5');
              return;
            }
            //Else-If selected is not equal to specified 
            //array properties route to specified path
            else if (result && this.fields.loan_type !== refinance || this.fields.loan_type !== homeImprovement || this.fields.loan_type !== homeBuying) {
              //Increments the progress bar if fields are valid
              this.progress = this.progress + this.progressEnd;
              //Destructuring => adding/merging/updating selected 
              //object properties to data collection object
              this.$parent.fields = {...this.$parent.fields, ...this.fields};
              //Specified path to route 
              router.push('/form_2');
              return;
            }          
          else {          
            console.log('An Error Occured'); 
          }

    		}).catch( error => {
    				console.log(error);
    		  });
      }
    }

};
</script>


<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css">

</style>
<style scoped>
  /**Card**/
  .card {
    -webkit-box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38); 
    box-shadow: 0px -1px 15px 2px rgba(76,76,76,0.38);
    border-radius: 32px;
    padding: 8px;
  }
  /**Card Header**/
	.card-header {
	  background-color: #fff !important;
	  border: none;
	  text-align: center;
	  margin: auto;
	  margin-top: 16px;
	  margin-bottom: -32px !important;
	}

	h5 {
		font-weight: 700;
		font-size: 24px;
	}

	.card-body {
	  text-align: center;
	  margin-left: 16px;
	  margin-right: 16px;
	  margin-bottom: -16px;
	}

						/*Form*/
	/*Buttons*/
	.btn-success {
    -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
	  box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
	  border-radius: 32px;
	  border: none;
	  display: center;
	  margin-top: 24px !important;
	  margin-bottom: 8px !important;
	  margin: auto;
	  background-color: #1FD348;
	  font-size: 14px;
	  font-weight: 700;
	}

</style>