<template>
 	<div class="container">
 		<!--Card-->
 		<div class="card">
 			<!--Card Header-->
 			<div class="card-header">
 				<!--Header Content-->
 				<h2>Find Out Instantly How Much Your Car Qualifies for!</h2>
 				<!--Informational text-->
 				<p class="card-text">
 					Call 1-844-237-5530 now to complete your application by speaking with a dedicated loan representative or complete this form to get your decision by answering 10 easy questions.
 				</p>
 			</div>
 			<!--Card Body-->
 			<div class="card-body" style="text-align: left;">
 				<h5 class="card-title">Congratulations, 10 Questions to your Money!</h5>
 				<hr>	
	 			<!--Form-->
	 			<form v-on:submit.prevent="onSubmit">
	 				<!--Street Address form group-->
	 				<div class="form-group">
	 					<label for="street_address">Home Address</label>
	 					<!--Address input field-->
	 					<input 
	 						type="text" 
	 						name="street_address"
	 						class="form-control"
	 						placeholder="Address"
	 						v-model="fields.street_address"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('street_address')}" 
	 					>
	 					<!--Address Error Message-->
	 					<span class="input-error-message" v-show="errors.has('street_address')">
	 						{{ errors.first('street_address') }}
	 					</span>
	 				</div>
	 				<!--City Form Group-->
	 				<div class="form-group">
	 					<label for="city">City</label>
	 					<!--City input field-->
	 					<input 
	 						type="text" 
	 						name="city"
	 						class="form-control"
	 						placeholder="City"
	 						v-model="fields.city"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('city')}" 
	 					>
	 					<!--City Error Message-->
	 					<span class="input-error-message" v-show="errors.has('city')">
	 						{{ errors.first('city') }}
	 					</span>
	 				</div>
	 				<!--State Form Group-->
	 				<div class="form-group">
	 					<label for="states">State</label>
	 					<!--State select field-->
	 					<select 
	 						name="states"
	 						type="text"
	 						class="form-control" 
	 						v-model="fields.selected"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('states')}" 
	 					>
	 						<option value="" disabled>Select...</option>
	 						<option v-for="area in fields.states">
	 							{{ area.state }}
	 						</option>
	 					</select>
	 					<!--State Error Message-->
	 					<span class="input-error-message" v-show="errors.has('states')">
	 						{{ errors.first('states') }}
	 					</span>
	 				</div>
	 				<!--Zip Code Form Group-->
	 				<div class="form-group">
	 					<label for="zip_code">Zip Code</label>
	 					<!--Zip Code Input Field-->
	 					<input 
	 						type="number" 
	 						name="zip_code"
	 						class="form-control"
	 						placeholder="Zip Code"
	 						v-model="fields.zip_code"
	 						v-validate="{required: true, integer: true }" 
	 						:class="{'input-error': errors.has('zip_code')}" 
	 					>
	 					<!--Zip Code Error Message-->
	 					<span class="input-error-message" v-show="errors.has('zip_code')">
	 						{{ errors.first('zip_code') }}
	 					</span>
	 				</div>
	 				<!--Own/Rent Form Group-->
	 				<div class="form-group">
	 					<label for="ownership">Do you rent or own?</label>
	 					<!--Ownership select field-->
	 					<select 
	 						type="text"
	 						name="ownership" 
	 						class="form-control"
	 						v-model="fields.selected_2"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('ownership')}" 
	 					>
	 						<option value="" disabled>Select...</option>
	 						<option v-for="bool in fields.ownership">
	 							{{ bool.owner }}
	 						</option>
	 					</select>
	 					<!--Own/Rent Error Message-->
	 					<span class="input-error-message" v-show="errors.has('ownership')">
	 						{{ errors.first('ownership') }}
	 					</span>
	 				</div>
	 				<!--Mortgage/Rent Form Group-->
	 				<div class="form-group">
	 					<label for="mortgage_rent">How much is your monthly mortgage/rent?</label>
	 					<!--Mortgage/Rent Input Field-->
	 					<input 
	 						type="text" 
	 						name="mortgage_rent"
	 						placeholder="$0.00" 
	 						class="form-control"
	 						v-model="fields.mortgage_rent"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('mortgage_rent')}" 
	 					>
	 					<!--Mortgage/Rent Error Message-->
	 					<span class="input-error-message" v-show="errors.has('mortgage_rent')">
	 						{{ errors.first('mortgage_rent') }}
	 					</span>
	 				</div>
	 				<!--Time of Residence Form Group-->
	 				<div class="row">
	 					<label class="col-12" for='years_living'>How long have you lived here?</label>
	 				</div>
	 				<div class="form-group row">
	 					<!--Years living Input Field-->
	 					<div class="col-6">
	 						<input 
	 							type="number" 
	 							name="years_living"
	 							class="form-control"
	 							placeholder="Years..."
	 							v-model="fields.years_living"
	 							v-validate="{required: true}"
	 							:class="{'input-error': errors.has('years_living')}" 
	 						>
	 						<!--Years Living Error Message-->
	 						<span class="input-error-message" v-show="errors.has('years_living')">
	 							{{ errors.first('years_living') }}
	 						</span>
	 					</div>
	 					<!--Months Living Input Field-->
	 					<div class="col-6">
	 						<input 
	 							type="number" 
	 							name="months_living"
	 							class="form-control"
	 							placeholder="Months..."
	 							v-model="fields.months_living"
	 							v-validate="{required: true}"
	 							:class="{'input-error': errors.has('months_living')}" 
	 						>
	 						<!--Months Living Error Message-->
	 						<span class="input-error-message" v-show="errors.has('months_living')">
	 							{{ errors.first('months_living') }}
	 						</span>
	 					</div>
	 				</div>
	 				<!--Gross Monthly Income Form Group-->
	 				<div class="form-group">
	 					<label for="gross_income">What is your gross monthly income?</label>
	 					<!--Gross Income Input Field-->
	 					<input 
	 						type="number" 
	 						name="gross_income"
	 						class="form-control" 
	 						placeholder="$0.00"
	 						v-model="fields.gross_income"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('gross_income')}" 
	 					>
	 					<span class="input-error-message" v-show="errors.has('gross_income')">
	 						{{ errors.first('gross_income') }}
	 					</span>
	 				</div>
	 				<!--Other Monthly Income Form Group-->
	 				<div class="form-group">
	 					<label for="other_income">Other monthly income (optional)</label>
	 					<!--Other Income Input Field-->
	 					<input 
	 						type="number" 
	 						name="other_income"
	 						class="form-control" 
	 						placeholder="$0.00"
	 						v-model="fields.other_income"
	 						v-validate="{required: true}" 
	 						:class="{'input-error': errors.has('other_income')}" 
	 					>
	 					<!--Other Income Error Message-->
	 					<span class="input-error-message" v-show="errors.has('other_income')">
	 						{{ errors.first('other_income') }}
	 					</span>
	 				</div>
	 				<!--Home Phone Number Form Group-->
	 				<div class="form-group">
	 					<label for="home_phone">Home Phone Number (optional)</label>
	 					<!--Home Phone Number Input Field-->
	 					<input 
	 						type="text" 
	 						name="home_phone"
	 						class="form-control"
	 						placeholder="(___)___-___" 
	 						v-model="fields.home_phone"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('home_phone')}" 
	 					>
	 					<!--Home Phone Error Message-->
	 					<span class="input-error-message" v-show="errors.has('home_phone')">
	 						{{ errors.first('home_phone') }}
	 					</span>
	 				</div>
	 				<!--Date of Birth Form Group-->
	 				<div class="form-group">
	 					<label for="date_of_birth">Date of Birth</label>
	 					<!--Date of Birth Input Field-->
	 					<input 
	 						type="text" 
	 						name="date_of_birth"
	 						class="form-control"
	 						placeholder="mm/dd/yyyy"
	 						v-model="fields.date_of_birth"
	 						v-validate="'required|date_format:DD/MM/YYYY'" 
	 						:class="{'input-error': errors.has('date_of_birth')}" 
	 					>
	 					<!--Date of Birth Error Message-->
	 					<span class="input-error-message" v-show="errors.has('date_of_birth')">
	 						{{ errors.first('date_of_birth') }}
	 					</span>
	 				</div>
	 				<!--SSN/iTIN Form Group-->
	 				<div class="form-group">
	 					<label for="ssn_itin">SSN or iTIN (optional)</label>
	 					<!--SSN/iTIN Input Field-->
	 					<input 
	 						type="text" 
	 						name="ssn_itin"
	 						class="form-control"
	 						placeholder="xxx-xx-xxxx" 
	 						v-model="fields.ssn_itin"
	 						v-validate="{required: true}"
	 						:class="{'input-error': errors.has('ssn_itin')}" 
	 					>
	 					<!--SSN/iTIN Error Message-->
	 					<span class="input-error-message" v-show="errors.has('ssn_itin')">
	 						{{ errors.first('ssn_itin') }}
	 					</span>
	 				</div>
	 				<!--CheckBox-->
	 				<div class="form-check mt-5">
	 					<input 
	 						type="checkbox" 
	 						name="terms"
	 						class="form-check-input"
	 						v-validate="'required'"
	 						:class="{'input-error': errors.has('terms')}" 
	 					>
	 					<label class="form-check-label" for="FieldsetCheck" :class="{'input-error-message': errors.has('terms')}">
	 						By checking this box, you agree to the general terms and conditions, wireless policy and online policies and agreements.
	 					</label>
	 				</div>
	 				<!--CheckBox Error Message-->
	 				<span class="input-error-message" v-show="errors.has('terms')">
	 					<br>
	 					{{ errors.first('terms') }}
	 				</span>
	 				<p class="mt-3">
	 					<sup>&#8224;&#8224;</sup>Advertised terms are only an estimate. Actual terms may vary and are based on the information you provide about your vehicle. Listed payment amounts may differ from your actual payment account. All loans are subject to vehicle condition and additional lender requirements, including demonstration the ability to repay the loan.
	 				</p>
	 				<hr>
	 				<!--Form Buttons Field-->
					<div class="row">
				      	<div class="col-md-12">
				      		<button :disabled="errors.any()" class="btn btn-warning mb-2">Cancel</button>
					      	<div class="float-right">
					      		<button :disabled="errors.any()" class="btn btn-warning mb-2">Previous Step</button>
				      			<button type="submit" :disabled="errors.any()" class="btn btn-warning mb-2">Customize my offer</button>					      		
					      	</div>				      		
				      	</div>
			      					      	
			        </div>	 				
	 			</form>	 			
 			</div>
 		</div>
 	</div>
	
</template>

<script>
export default {
	name: 'Loan_Mart_3',
	data() {
		return {

			fields: {
				selected: '',
				selected_2: '',
				street_address: '',
				city: '',
				states: [
		      	  	{ state: 'Alabama' },
		      	  	{ state: 'Alaska' },
		      	  	{ state: 'Arizona' },
		      	  	{ state: 'Arkansas' },
		      	  	{ state: 'California' },
		      	  	{ state: 'Colorado' },
		      	  	{ state: 'Connecticut' },
		      	  	{ state: 'Delaware' },
		      	  	{ state: 'Florida' },
		      	  	{ state: 'Georgia' },
		      	  	{ state: 'Hawaii' },
		      	  	{ state: 'Idaho' },
				],
				zip_code: '',
				ownership: [
					{ owner: 'Yes' },
					{ owner: 'No' }
				],
				mortgage_rent: '',
				years_living: '',
				months_living: '',
				gross_income: '',
				other_income: '',
				home_phone: '',
				date_of_birth: '',
				ssn_itin: '',
				terms: ''
			}
		}		
	},
		methods: {
			onSubmit: function() {
				this.$validator.validateAll().then((result) => {
					if (result) {
						console.log('Form is valid', this.fields);
						alert('Form Validated');
						return;
					}
						console.log('Form is invalid');
				}).catch((error) => {
					console.log(error);
				});
			}
		}	
};	
</script>

<style scoped>
	input[type="text"]:focus {
	    border-color: rgba(126, 239, 104, 0.8);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	    outline: 0 none;		
	}

    select[type="text"]:focus {
    	border-color: rgba(126, 239, 104, 0.8);
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    	outline: 0 none;  	
    }
    /**Validation**/
    .input-error {
    	border-color: #E84444 !important;
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
    }

    .input-error[type="text"]:focus {
    	border-color: #E84444 !important;
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
    }

    .input-success {
        border: 1px solid #007400 !important;
        box-shadow: 0 0 1px #007400 !important;
    }

    .input-error-message {
        display: inline;
        color: #A04241;
    }

</style>