<template>
	<div class="container">
		<!--Card-->
		<div class="card">
			<!--Card Header-->
			<div class="card-header">
				<!--Header content-->
				<h2>Find Out Instantly How Much Your Car Qualifies for!</h2>
				<!--Informational text-->
				<p class="card-text">Call 1-855-422-7412 now to complete your application by speaking with a dedicated loan representative or complete this form to get your decision by answering 10 easy questions.</p>
			</div>
			<!--Card Body-->
			<div class="card-body" style="text-align: left;">
				<h5 class="card-title">Your Contact Information</h5>
				<hr>
				<!--Form-->
				<form v-on:submit.prevent="onSubmit">
				  <!--Name form group/Label-->
				  <div class="row">
			  	  	<label class="col-12" for="firstName">Name</label>
			  	  </div>
				  <div class="form-group row">
				  	<!--First Name Input Field-->
				  	<div class="col-6">
				      <input 
				        class="form-control" 
				        type="text" 
				        name="firstName" 
				        placeholder="First"
				        v-model="fields.firstName"
				        data-vv-as="First Name"
				        v-validate="'required|min:6'"
				        :class="{'input-error': errors.has('firstName')}" 
				      >
  				  	  <!-- First Name Error Message-->
				  	  <span v-show="errors.has('firstName')" class="input-error-message">
				  	    {{errors.first('firstName')}}
				  	  </span>
				  	</div>
				  	<!--Last Name Input Field-->
				    <div class="col-6">
				    	<input 
				    	  class="form-control" 
				    	  type="text" 
				    	  name="lastName" 
				    	  placeholder="Last"
				    	  v-model="fields.lastName"
				    	  data-vv-as=" Last Name"
				    	  v-validate="'required|min:3'"
				    	  :class="{'input-error': errors.has('lastName')}" 
				    	>
				    	<!--Last Name Error Message-->
				    	<span v-show="errors.has('lastName')" class="input-error-message">
				    	  {{errors.first('lastName')}}	
				    	</span>
				    </div>
				  </div>
				  <!--Email form group-->
				  <div class="form-group">
				  	<label for="email">Email*</label>
				  	<!--Email input field-->
				  	<input 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="email" 
					  placeholder="Email" 
				  	  v-model="fields.email"
				  	  v-validate="{required: true, email: true}"
				  	  :class="{'input-error': errors.has('email')}" 
				  	>
				  	<!--Email Error Message-->
				  	<span class="input-error-message" v-show="errors.has('email')">
				  		{{errors.first('email')}}
				  	</span>
				  </div>

				  <!--State of Residence form group-->
				  <div class="form-group">
				  	<label for="states">State of Residence?</label>
				  	<!--Residence input field-->
				  	<select 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="states"
				  	  v-model="fields.selected"
				  	  v-validate="{ required: true}"
				  	  :class="{'input-error': errors.has('states')}" 
				  	>
				      <option value="" disabled>State...</option>
				      <option v-for="area in fields.states">
				      	{{ area.state }}
				      </option>
				  	</select>
				  	<!--State Error Message-->
				  	<span class="input-error-message" v-show="errors.has('states')">
				  		{{ errors.first('states')}}
				  	</span>
				  </div>
				  <!--Automobile form group-->
				  <div class="form-group">
				  	<label for="automobile">Do you have an automobile?* </label>
				  	  <!--Automobile input field-->
				  	  <select 
				  	    class="form-control" 
				  	    type="text" 
				  	    name="automobile"
				  	    v-model="fields.selected_2"
				  	    v-validate="{required: true}"
				  	    :class="{'input-error': errors.has('automobile')}" 
				  	  >
				  	    <option value="" disabled>Select...</option>
				  	    <option>Yes</option>
				  	    <option>No</option>
				  	  </select>
				  	  <!--Automobile Error Message-->
				  	  <span class="input-error-message" v-show="errors.has('automobile')">
				  	  	{{ errors.first('automobile') }}
				  	  </span>
				  </div>
				  <!--CheckBox-->
				  <div class="form-check">
			        <input 
			          class="form-check-input" 
			          type="checkbox"
			          name="terms" 
			          v-validate="'required'"
			          :class="{'input-error': errors.has('terms')}" 
			        >
			        <label class="form-check-label" for="FieldsetCheck"
			        :class="{ 'input-error-message': errors.has('terms')}">
			        * I agree to the terms and conditions.
			        </label>
			      </div>
			      <!--Checkbox Error Message-->
			      <span class="input-error-message" v-show="errors.has('terms')">
			        <br>{{ errors.first('terms') }}
			      </span>
			      <!--Next Button-->
			      <div class="row float-right mt-2">
			      	<div class="col-2">
			      		<button type="submit" class="btn btn-warning" :disabled="errors.any()">Next</button>
			      	</div>
			      </div>
				</form>
			</div>
		
		</div>
  	</div>
</template>

<script>
export default {
  name: 'Loan_Mart_1',
  data() {
      return {
      	fields: {
      	  selected: '',
      	  selected_2: '',
      	  firstName: '',
      	  lastName: '',
      	  email: '',
      	  states: [
      	  	{ state: 'Alabama' },
      	  	{ state: 'Alaska' },
      	  	{ state: 'Arizona' },
      	  	{ state: 'Arkansas' },
      	  	{ state: 'California' },
      	  	{ state: 'Colorado' },
      	  	{ state: 'Connecticut' },
      	  	{ state: 'Delaware' },
      	  	{ state: 'Florida' },
      	  	{ state: 'Georgia' },
      	  	{ state: 'Hawaii' },
      	  	{ state: 'Idaho' },
      	  ],
      	  automobile: '',
      	  terms: ''
      	},					      	
      }
    },

    computed: {
       
    },

    methods: {
      onSubmit: function() {
	      this.$validator.validateAll().then((result) => {
	      	if (result) {
	          	console.log('form is valid', this.fields);
	          	alert("Form Validated");
	          	return;
	      	}
	      		console.log('Form is invalid');

	      }).catch((error) => {
	          console.log(error);
	      });
        }      
    }
};	
</script>

<style scoped> 
  input[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }

  select[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;  	
  }
  /**Validation**/
  .input-error {
    border-color: #E84444 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
  }

  .input-error[type="text"]:focus {
    border-color: #E84444 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
  }

  .input-success {
      border: 1px solid #007400 !important;
      box-shadow: 0 0 1px #007400 !important;
  }

  .input-error-message {
      display: inline;
      color: #A04241;
  }

</style>