<template>
	<div class="container">
		<!--Card-->
		<div class="card">
			<!--Card Header-->
			<div class="card-header">
				<!--Header content-->
				<h2>Find Out Instantly How Much Your Car Qualifies for!</h2>
				<!--Informational text-->
				<p class="card-text">Call 1-855-422-7412 now to complete your application by speaking with a dedicated loan representative or complete this form to get your decision by answering 10 easy questions.</p>
			</div>
			<!--Card Body-->
			<div class="card-body" style="text-align: left;">
				<h5 class="card-title">LoanMart Vehicle Secured Loan</h5>
				<hr>

				<p class="card-text">
				  Based on he provided information, a LoanMart Vehicle Secured Loan is your perfect fit loan. Get cash fast and keep your car! Please provide the following details so our team can create your custom rate.
				</p>
				<!--Form-->
				<form v-on:submit.prevent="onSubmit">
				  <!--Car year form group-->
				  <div class="form-group">
				  	<label for="car_year">What year is your car?{{selected}}</label>
				  	<!--Car year input field-->
				  	<select 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="car_year"
				  	  v-model="selected"
				  	  v-validate="{ required: true}"
				  	  :class="{'input-error': errors.has('car_year')}" 
				  	>
				      <option value="" disabled>Year...</option>
				      <option v-for="car in fields.car_year">
				      	{{ car.year }}
				      </option>
				  	</select>
				  	<!--Car year Error Message-->
				  	<span class="input-error-message" v-show="errors.has('car_year')">
				  		{{ errors.first('car_year')}}
				  	</span>
				  </div>
				  <!--Car make form group-->
				  <div class="form-group">
				  	<label for="car_make">What make is your car?{{selected_2}}</label>
				  	  <!--Car make input field-->
				  	  <select 
				  	    class="form-control" 
				  	    type="text" 
				  	    name="car_make"
				  	    v-model="selected_2"
				  	    v-validate="{required: true}"
				  	    :class="{'input-error': errors.has('car_make')}"

				  	  >
				      <option value="" disabled>Make...</option>
				      <option v-for="car in fields.car_make">
				      	{{ car.make }}
				      </option>
				  	  </select>
				  	  <!--Car make Error Message-->
				  	  <span class="input-error-message" v-show="errors.has('car_make')">
				  	  	{{ errors.first('car_make') }}
				  	  </span>
				  </div>

				  <!--Car model form group-->
				  <div class="form-group">
				  	<label for="car_model">What model is your car?{{selected_3}}</label>
				  	<!--Car model input field-->
				  	<select 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="car_model"
				  	  v-model="selected_3"
				  	  v-validate="{ required: true}"
				  	  :class="{'input-error': errors.has('car_model')}" 
				  	>
				      <option value="" disabled>Model...</option>
				      <option v-for="car in fields.car_model">
				      	{{ car.model }}
				      </option>
				  	</select>
				  	<!--Car model Error Message-->
				  	<span class="input-error-message" v-show="errors.has('car_model')">
				  		{{ errors.first('car_model')}}
				  	</span>
				  </div>
				  <!--Car style form group-->
				  <div class="form-group">
				  	<label for="car_style">What style is your car?{{selected_4}}</label>
				  	  <!--Car style input field-->
				  	  <select 
				  	    class="form-control" 
				  	    type="text" 
				  	    name="car_style"
				  	    v-model="selected_4"
				  	    v-validate="{required: true}"
				  	    :class="{'input-error': errors.has('car_style')}" 
				  	  >
				      <option value="" disabled>Style...</option>
				      <option v-for="car in fields.car_style">
				      	{{ car.style }}
				      </option>
				  	  </select>
				  	  <!--Car style Error Message-->
				  	  <span class="input-error-message" v-show="errors.has('car_style')">
				  	  	{{ errors.first('car_style') }}
				  	  </span>
				  </div>
				  <!-- Car's mileage form group-->
				  <div class="form-group">
				  	<label for="car_mileage">What is your car's milege?</label>
				  	<input 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="car_mileage"
				  	  v-validate="{required: true, integer: true, min_value: 0, max_value: 500000, max: 7}"
				  	  :class="{'input-error': errors.has('car_mileage')}" 
				  	>
				  	<!--Mileage Error Message-->
				  	<span class="input-error-message" v-show="errors.has('car_mileage')">
				  	  {{ errors.first('car_mileage') }}
				  	</span>
				  </div>
				  <!--Phone Number form group-->
				  <div class="form-group">
				  	<label for="mobile_number">Mobile Phone Number*</label>
				  	<input 
				  	  class="form-control" 
				  	  type="text" 
				  	  name="mobile_number"
				  	  v-validate="{required: true, regex: /^([0-9]+)$/, min: 10, max: 11}"
				  	  :class="{'input-error': errors.has('mobile_number')}" 
				  	>
				  	<!--Phone number Error Message-->
				  	<span class="input-error-message" v-show="errors.has('mobile_number')">
				  	  {{ errors.first('mobile_number') }}	
				  	</span>
				  </div>
				  <!--CheckBox-->
				  <div class="form-check">
			        <input 
			          class="form-check-input" 
			          type="checkbox"
			          name="terms_1" 
			        >
			        <label class="form-check-label" for="FieldsetCheck">
			        *By checking this box, you authorize LoanMart to call or send text messages to the telephone number provided as the mobile phone, using an automatic telephone dialing system and/or an artificial/pre-recorded voice, for promotional or commercial purposes. You are not required to check this box as a condition of obtaining a loan or any services from us
			        </label>
			      </div>
				  <!--CheckBox-->
				  <div class="form-check mt-5">
			        <input 
			          class="form-check-input" 
			          type="checkbox"
			          name="terms" 
			          v-validate="'required'"
			          :class="{'input-error': errors.has('terms')}" 
			        >
			        <label class="form-check-label" for="FieldsetCheck"
			        :class="{ 'input-error-message': errors.has('terms')}">
			        *By checking this box, you confirm that you are not a regular or reserve member of the Army, Navy, Marine Corps, Air Force, or Coast Guard, serving on active duty, nor are you a spouse, a child, or a dependent of such a member.
			        </label>
			      </div>
			      <!--Checkbox Error Message-->	
		          <span class="input-error-message" v-show="errors.has('terms')">
		          	<br>
		            {{ errors.first('terms') }}
		          </span>			      		      
			      <!--Next Button-->
			      <div class="row float-right mt-3">
			      	<div class="col-2">
			      		<button type="submit" :disabled="errors.any()" class="btn btn-warning">Next</button>
			      	</div>
			      </div>
				</form>
			</div>
		</div>
  	</div>
</template>

<script>
export default {
  name: 'Loan_Mart_2',
  data() {
      return {
      	selected: '',
      	selected_2: '',
      	selected_3: '',
      	selected_4: '',
      	fields: {
      	  car_year: [
      	  	{ year: 2018 },
      	  	{ year: 2017 },
      	  	{ year: 2016 },
      	  	{ year: 2015 },
      	  	{ year: 2014 },
      	  	{ year: 2013 },
      	  	{ year: 2012 },
      	  	{ year: 2011 },
      	  	{ year: 2010 },
      	  	{ year: 2009 },
      	  	{ year: 2008 },
      	  	{ year: 2007 },
      	  ],
      	  car_make: [
      	  	{ make: 'Acura' },
      	  	{ make: 'Audi' },
      	  	{ make: 'BMW' },
      	  	{ make: 'Buick' },
      	  	{ make: 'Cadillac' },
      	  	{ make: 'Chevrolet' },
      	  	{ make: 'Chrysler' },
      	  	{ make: 'Dodge' },
      	  	{ make: 'Ford' },
      	  	{ make: 'Freightliner' },
      	  	{ make: 'GMC' },
      	  	{ make: 'Honda' },
      	  ],
      	  car_model: [
      	  	{ model: 'Model_1' },
      	  	{ model: 'Model_2' },
      	  	{ model: 'Model_3' },
      	  	{ model: 'Model_4' },
      	  	{ model: 'Model_5' },
      	  	{ model: 'Model_6' },
      	  ],
       	  car_style: [
      	  	{ style: 'Style_1' },
      	  	{ style: 'Style_2' },
      	  	{ style: 'Style_3' },
      	  	{ style: 'Style_4' },
      	  	{ style: 'Style_5' },
      	  	{ style: 'Style_6' },
      	  ],
      	  car_mileage: '',
      	  mobile_number: '',
      	  terms_1: '',
      	  terms: ''
      	},					      	
      }
    },

    computed: {
  
    },

    methods: {
      onSubmit: function() {
	      this.$validator.validateAll().then((result) => {
	      	if (result) {
	          	console.log('form is valid', this.fields);
	          	alert("Form Validated");
	          	return;
	      	}
	      		console.log('Form is invalid');

	      }).catch((error) => {
	          console.log(error);
	      });
        }   
    }
};	
</script>

<style scoped> 
  input[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }

  select[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;  	
  }
  /**Validation**/
  .input-error {
    border-color: #E84444 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
  }

  .input-error[type="text"]:focus {
    border-color: #E84444 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6);
  }

  .input-success {
      border: 1px solid #007400 !important;
      box-shadow: 0 0 1px #007400 !important;
  }

  .input-error-message {
      display: inline;
      color: #A04241;
  }


</style>