<template>
    <div class="container">
        <!--Card-->
        <div class="card">
            <!--Card Header-->
            <div class="card-header">
                <!--Header Content-->
                <h2>Call your personal loan Officer to get your cash!</h2>
            </div>
            <!--Card Body-->
            <div class="card-body">
                <h5 class="card-title">Customize Your Offer</h5>
                <hr>
                <p class="card-text">
                    Please utilize the sliders below to customize your LoanMart Auto Title Loan. Remember, this is based on the equity in your car.
                </p>
                <!--Form-->
                <form>
                    <div class="row">
                        <!--Amount Requested Form Group-->
                        <div class="form-group main_section col-12 col-sm-12 col-md-8">
                            <div class="row justify-content-between mb-2 no-gutters">
                               <!--Amount Requested Label-->
                               <div class="amount_requested col-6 col-sm-5 d-mdinline-flex">
                                   <label>Amount Requested</label>
                               </div>
                               <!-- Amount Requested interpolation-->
                               <div class="amount_interpolation d-mdinline-flex">     
                                    ${{ range_value }}    
                               </div>  
                            </div>
                            <!--Amount Requested Input Field/Range Marker-->
                            <input class="form-control-range range mb-2" type="range" name="range" value="" :style="rangeProgress" v-model="range_value" min="1500" max="3900">
                            <!--Text-->
                            <p class="card-text">
                                This amount is based on the equity in your 2014 Buick Regal 
                            </p>                         
                            <!--Loan Term Form Group-->     
                            <div class="row justify-content-between mb-2 no-gutters">
                               <!--Loan Term Label-->
                               <div class="loan_term col-4 col-sm-5 d-mdinline-flex">
                                   <label>Loan Term</label>
                               </div>
                               <!--Loan Term interpolation-->
                               <div class="loan_interpolation d-mdinline-flex">
                                    {{ range_value_2 }}MONTHS
                               </div> 
                            </div>
                            <!--Loan Term Input Field/Range Marker-->
                            <input class="form-control-range range2 mb-2" type="range" name="range2" value="" :style="rangeProgress_2" v-model="range_value_2" min="24" max="36" step="6">
                            <!--Text-->
                            <p class="card-text">
                                This is how long you have to repay your loan.
                            </p>
                        </div>
                        <!--Side/Bottom Interest Rate Section-->
                        <div class="side_grp col-sm-4" style="text-align: left !important;">
                            <button class="ml-3 side_btn mt-2 btn btn-sm btn-outline-warning">FASTER PAYOFF</button><br>
                            <button class="ml-3 mt-2 side_btn btn btn-sm btn-warning">LOWEST PAYMENT</button>
                            <p class="card-text ml-3 mt-2 mb-1">
                                Estimated Prices**
                            </p>
                            <p class="card-text ml-3">${{rangeValue}}/mo</p>
                        </div>
                        <!--Terms/Submit/Conditional Section-->
                        <div class="terms col-12 col-sm-12 mt-2">
                             <p class="card-text mb-1">
                                **Advertised terms are only an estimate. Actual terms may vary and are based on the information you provide about your vehicle. Listed payment amounts may differ from your actual payment amount. All loans are subject to vehicle condition and additional lender requirements, including demonstrating the ability to repay the loan.
                            </p>
                            <div class="row justify-content-end">
                                <button class="btn_1 mt-2 btn btn-sm btn-outline-warning">NEED MORE THAN $3,900.00?</button><br>
                                <button class=" btn_1 mt-2 ml-3 btn btn-sm btn-warning">SUBMIT & GET MY MONEY!</button>                                
                            </div>
                           
                        </div>                        
                    </div>

                </form>
            </div>
            
        </div>
          
    </div>
   
</template>

<script>
export default {
  name: 'Loan_Mart_4',
  data() {
    return {
        range_value: 3900,
        range_value_2: 0,   
    }
  },
  computed: {
    //Algebraic formula/function to get percentage from min and max && Range dynamic color fill.
    rangeProgress: function() {
        const min = 1500,
              max = 3900
        let width = (this.range_value - min)*100/(max - min);

        return  `background: linear-gradient(to right, green 0%, ${width}%, #e0e2e2 ${width}%, #e0e2e2 100%)`;
    },
    //Algebraic formula/function to get percentage from min and max && Range dynamic color fill.
    rangeProgress_2: function() {
        const min = 24,
              max = 36
        let width = (this.range_value_2 - min)*100/(max - min); 

        return `background: linear-gradient(to right, green 0%, ${width}%, #e0e2e2 ${width}%, #e0e2e2 100%)`;
    },
    //Computation used to get monthly payment.
    rangeValue: function() {
        return (this.range_value - this.range_value_2);
    },
  },

};  	
</script>

<style scoped>
/**Card Body**/
.card-body {
    text-align: left;
}

.card-text {
    font-size: 14px;
    text-align: left;
}

/**Custom Range Marker**/
input {
    background: linear-gradient(to right, green 0%, green 0%, #e0e2e2 0%, #e0e2e2 100%);
    border-radius: 8px;
    height: 7px;
    outline: none; 
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  
input::-webkit-slider-thumb {
    background-color: #e0e2e2;
    border: solid 0.5px black;
    cursor: pointer;
    height: 20px;
    width: 10px;
    border-radius: 25%;
    -webkit-appearance: none;
}

input::-webkit-slider-thumb:hover {
    background-color: #fff;
}

/**Amount Requested**/
.amount_requested {
    padding-right: 0px;
}

.amount_interpolation {
    padding: 4px;
    border-radius: 3px;
    background-color: green;
    color: #fff;
    text-align: center;
    width: 55px;
    height: 25px;
    font-size: 13px;
    
}

/**Loan Term**/
.loan_interpolation {
    padding: 4px;
    border-radius: 3px;
    background-color: green;
    color: #fff;
    text-align: center;
    width: 85px;
    height: 25px;
    font-size: 13px;
}

.loan_term {
    padding-right: 0px;
}

/**Interst Rate Section**/
.side_grp {
    border-left: 1px solid #e0e2e2;  
    padding-left: 6px;
    text-align: left !important;
}


/**Terms/Bottom Section**/
.terms {
    text-align: right;
}

/**Media Query For Labels**/

@media (max-width: 389px) {
    .amount_requested, .loan_term {
        font-size: 13px !important;
    }
}


/**Media Query for bottom and side border**/
@media (max-width: 767px) {
    .side_grp {
        border: none !important;
    }

    .main_section {
        padding-bottom: 6px;
        border-bottom: 1px solid #e0e2e2;
    }

}
/**Media Query for bottom section buttons**/
@media (min-width: 992px) {
    .side_grp {
        text-align: right !important;
    }
}

@media (max-width: 290px) {
    .btn_1 {
        font-size: 12px !important
    }
}


</style>  

