<template>
  <div class="container-fluid" id="app">
      <nav > 
        <router-link to="/" style="color: black !important;">1</router-link>
        <router-link to="/form_1_5" style="color: black !important;">1.5</router-link>
        <router-link to="/form_2" style="color: black !important;">2</router-link>
        <router-link to="/form_2_5" style="color: black !important;">2.5</router-link>
        <router-link to="/form_3" style="color: black !important;">3</router-link>
        <router-link to="/form_4" style="color: black !important;">4</router-link>
        <router-link to="/form_5" style="color: black !important;">5</router-link>
        <router-link to="/form_6" style="color: black !important;">6</router-link>
        <router-link to="/form_7" style="color: black !important;">7</router-link>
        <router-link to="/form_8" style="color: black !important;">8</router-link>
        <router-link to="/form_9" style="color: black !important;">9</router-link>
        <router-link to="/form_10" style="color: black !important;">10</router-link>
        <router-link to="/form_11" style="color: black !important;">11</router-link>
        <router-link to="/Loan_Mart_1" style="color: black !important;">(1)</router-link>
        <router-link to="/Loan_Mart_2" style="color: black !important;">(2)</router-link>
        <router-link to="/Loan_Mart_3" style="color: black !important;">(3)</router-link>
        <router-link to="/Loan_Mart_4" style="color: black !important;">(4)</router-link>
      </nav> 
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
    data() {
      return {
        fields: {

        }
      }
    }
}
</script>

<style>
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    }


    /**Body**/
    body {
      font-family: 'Montserrat', sans-serif;  
       
    }

    h4 {
      font-weight: 700;
      font-size: 24px;
    }

    /*Progress Bar*/
    .progress {
      -webkit-box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5); 
      box-shadow: 0px 1px 9px 1px rgba(86,86,86,0.5);
      background-color: #fff;
      border-radius: 13px;
      margin-left: 64px;
      margin-right: 64px;
      margin-bottom: 32px;
    }

    .progress-bar {
      background-color: #1FD348;
    }

    /*Card/Header/Body*/
    .card-img-left {
      height: 16px;
      width: 16px;
      margin-bottom: 3px;
    }

    .card-text {
      color: gray;
      font-size: 12px;
      font-weight: 500;
    }

    /**Button**/
    .btn-secondary:focus {
      box-shadow: none!important;
    }

    .btn-secondary:focus {
      box-shadow: none!important;
    }

    .btn-secondary {
      text-align: center;
      background-color: white !important;
      border: none !important;
      font-size: 11px;
      color: gray !important;
      margin: auto;
      font-weight: 500;
    }

    .btn-secondary:hover {
      text-decoration: none;
      color: gray;
      background-color: #fff !important;
      cursor: pointer !important;
    }

    /**Validation**/

    .input-error {
      border-radius: 19px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6) !important;
    }

    .input-error[type="text"]:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6) !important;
    }

    .input-success {
        border: 1px solid #007400 !important;
        box-shadow: 0 0 1px #007400 !important;
    }

    .input-error-message {
        display: inline;
        color: #A04241;
    }
    
</style>
